<h1>Listing queries</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @queries.each do |query| %>
      <tr>
        <td><%= query.question %></td>
        <td><%= query.answer %></td>
        <td><%= link_to 'Show', query, :class => "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_query_path(query), :class => "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', query, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Query', new_query_path, :class => "btn btn-success" %>
