<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @query.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @query.answer %>
</p>

<p>
  <strong>Last Edited by: </strong>
  <%= @query.users.last.email %> | <strong><%= link_to "Full list", query_users_path(@query) %></strong>
</p>

<%= link_to 'Edit', edit_query_path(@query), :class => "btn btn-warning" %>
<%= link_to 'Back', queries_path, :class => "btn" %>
